@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* All Fonts */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Cinzel-Black.otf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Cinzel-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cinzel-Regular.otf") format("truetype");
}

@font-face {
  font-family: "CinzelAlt";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/CinzelDecorative-Black.otf") format("truetype");
}

@font-face {
  font-family: "CinzelAlt";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/CinzelDecorative-Bold.otf") format("truetype");
}

@font-face {
  font-family: "CinzelAlt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cinzel-Regular.otf") format("truetype");
}
