@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* All Fonts */
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fredoka-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Fredoka-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Fredoka-Light.ttf") format("truetype");
}
